/* variables para configurar los colores de una forma más facil */
:root {
    --azul: #0071b7;
    --blanco: #FFF;
    --naranja: #ff4f1e;
}
html {
    font-size: 62.5%; /** 1REM = 10pX **/
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
  

body {
    /* la funcion var la ocupamos para ocupar los colores definidos en el root */
    background-color: var(--azul);
    font-family:  'Lato', sans-serif;
    font-size: 1.6rem;
}

h1, h2 {
    color: var(--blanco);
    text-align: center;
    margin: 5rem 0;
    padding: 1rem;
}
.caja-curso {
    background-color: var(--naranja);
    text-align: center;
    color: var(--blanco);
    padding: 5rem;

}
.caja-curso h1 {
    margin: 0;
}
.caja-curso p {
    font-size: 2.4rem;
}
.caja-curso a {
    font-size: 2.4rem;
    padding: 2rem;
    display: inline-block;
    text-decoration: none;
    color: var(--blanco);
    padding: 0;
}


.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}
.box {
    background-color: var(--naranja);
    color: var(--blanco);
    padding: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    border: 1rem solid #bb2b03;
}

.contenedor > div {
    background-color: var(--blanco);
    padding: 5rem;
}

/* //////////////////////////////////////////1.- Display Flex///////////////////////////////////////////////////// */

.d-flex{
    display: flex;
}

/* ////////////////////////////////////////////2.- Flex direction /////////// */

.d-flex-2{
    display: flex;
    flex-direction: column;
}

/* ////////////////////////////////////////////3.- Justify Content (Dirección Row) /////////// */

.d-flex-3{
    display: flex;
    justify-content: space-around;
    /* justify-content: center; */
}

/* ////////////////////////////////////////////4.- Justify Content (Dirección Column) /////////// */

.d-flex-4{
    display: flex;
    flex-direction: column;
    height: 1000px;
    justify-content: space-around;
}

/* ////////////////////////////////////////////5.- Align Items (Dirección Row) /////////// */
.d-flex-5{
    display: flex;
    flex-direction: row;
    /* aqui entonces el align items alinea verticalmente cuando la direccion es row */
    /* los valores disponibles son: */
    /* align-items: flex-end;
    align-items: flex-start; */
    align-items: center;
    height: 400px;
}

/* ////////////////////////////////////////////6.- Align Items (Dirección Columna) /////////// */

.d-flex-6{
    display: flex;
    flex-direction: column;
    height: 700px;
    /* en este caso donde la direccion es coluumna 
    el align items acomoda de forma horizontal y sus valores son los siguientes*/
    align-items: center;
    /* align-items: flex-end; */
    /* align-items: flex-start; */
    /* align-items: stretch;  */
}


/* //////////////////////////////////////////// 7.- Align Items y JustifyContent /////////// */

.d-flex-7{
    display: flex;
    flex-direction: row;
    height: 500px;

    /* de manera vertical es  */
    align-items: center;
    /* de manera horizontal es  */
    justify-content: flex-end;
}


/* ////////////////////////////////////////////     8.- flex basis                  /////////// */

.d-flex-8{
    display: flex;
}
/* en este caso el flex basis se le aplica directamente a cada uno de los elementos 
y es flexible osea que en un inicio tienen 200px pero si requiere más entonces se los asignará sin problema para evitar desbordes */
.d-flex-8 box{
    flex-basis: 200px;
}






